@page "/Register"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager;
@using Blazored.FluentValidation
@using System.Net
@using DayTripNJ.Shared.UserManagement

<div class="center-align-background">
    <div class="form-outer" style="width: 40%; min-width: 250px; max-width: 400px">
        <EditForm Model="@RegModel" OnValidSubmit="@Submit">
            <FluentValidationValidator/>

            <div class="inline-entry">
                <div class="form-input">
                    <label>First Name</label>
                    <div>
                        <InputText style="width: 100%; box-sizing: border-box" id="first-name" placeholder="Alice" @bind-Value="RegModel.FirstName"/>
                    </div>
                </div>

                <div class="form-input">
                    <label>Last Name</label>
                    <div>
                        <InputText style="width: 100%; box-sizing: border-box" id="last-name" placeholder="Smith" @bind-Value="RegModel.LastName"/>
                    </div>
                </div>
            </div>

            <div class="form-input">
                <label>Email</label>
                <div>
                    <InputText style="width: 100%; box-sizing: border-box" id="email" placeholder="alice-smith@example.com" @bind-Value="RegModel.Email"/>
                </div>
            </div>

            <div class="form-input">
                <label>Password</label>
                <div>
                    <InputText style="width: 100%; box-sizing: border-box" id="password" placeholder="password" @bind-Value="RegModel.Password"/>
                </div>
            </div>

            <div class="form-error">
                <ValidationSummary/>
            </div>

            <div class="centered-button-group">
                <button type="submit">Register</button>
            </div>

        </EditForm>

    </div>

</div>

@code {
    private RegisterModel RegModel = new();

    private async void Submit()
    {
        if (RegModel.ModelsIsNull()) return;
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync("Account/Register", RegModel);

        if (response.StatusCode == HttpStatusCode.OK)
        {
            NavigationManager.NavigateTo("/Login");
        }
    }

}